<div *ngIf="noteLists" fxLayout="row wrap" fxLayoutAlign="start  center"   >

  <div *ngIf="id!=0" class="notelistAdd" >

      <mat-form-field>
          <input matInput #NoteList maxlength="50" placeholder="Note List name"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="add(NoteList.value); NoteList.value=''" >Add a note list</button>
   
  </div>

  <div *ngFor="let noteList of noteLists"  class="notelist" fxLayoutGap="20px"> 
    <div  fxLayout="row">
      <div class="noteListName">
      <b>{{noteList.name}} </b>
      </div>
      
      <button mat-button [matMenuTriggerFor]="nListmenu" class="menuListButton" >```</button>
      <mat-menu #nListmenu="matMenu">
        <button mat-menu-item (click)="delete(noteList)">Delete</button>
        <button mat-menu-item (click)="editNoteList(noteList.id)">Rename</button>
      </mat-menu>
    </div>

    <div  [ngStyle]="{'display': editId==noteList.id ? 'block': 'none' }">
      <mat-form-field>
        <input matInput maxlength="50" [(ngModel)] = "noteList.name"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="renameNoteList(noteList.id); editNoteList(0)" >Save</button>  
    </div>
   
    

      <div class="noteAdd">
        <mat-form-field>
          <input matInput #noteName maxlength="100" placeholder="Note name"/>
        </mat-form-field>
          <button mat-raised-button color="primary" (click)="addNote(noteName.value, noteList.id); noteName.value=''" >Add note</button>
      </div>

    <div *ngFor="let note of noteList.notes" >
      <a routerLink="/note/{{note.id}}">
       <div class="noteName">
         {{note.name}}
       </div> 
      </a>
    </div>
      
  </div> 

</div>

 