.notelist{
    height: 400px;
    overflow-y: auto;
    border: 2px solid black;
    background-color: #7282B2;
    padding : 10px;
    margin : 10px;
    width: 220px;
    border-radius: 5px;
}

.notelistAdd{
    height: 110px;
    overflow-y: auto;
    border: 2px solid #8794BD;
    background-color: #F3A06E;
    padding : 10px;
    margin : 10px;
    width: 220px;
    border-radius: 5px;
}

.noteName {
    word-wrap: break-word;    
    background-color: #95B1AF;
    width: 200px;
    height: auto;
    margin: 5px;
    padding : 5px;
    border-radius: 5px;
    
}

.noteListName{
    margin: 5px;
    padding : 5px;
    width: 190px;
    text-transform: capitalize;
}

.menuListButton{
    min-width: 1px;
    max-width: 10px;
    min-height: 20px;
    height: 24px;
  }

  .noteAdd{
      margin-bottom: 20px;
  }