<div *ngIf="note" fxLayout="column" fxLayoutAlign="start start" class="note">
    
    <mat-form-field>
        <input matInput placeholder="Note name"  [(ngModel)]="note.name"/>
    </mat-form-field>

    <div class="cont">
        <mat-form-field class="descript"> 
            <textarea matInput [(ngModel)]="note.description" placeholder="Description"></textarea>
        </mat-form-field>
        

        <div>
            <div *ngIf="note.labels" fxLayout="row wrap" fxLayoutAlign="start  center">
                <div *ngFor="let label of note.labels" [ngStyle]="{'background-color':label.color}" class="labelName">           
                    {{label.name}}
                </div>
            </div> 
            <div>            
                <input type="color" [(ngModel)]="label.color">            
            <mat-form-field>
                <input matInput placeholder="Label" [(ngModel)]="label.name"/>
            </mat-form-field>
                <button mat-raised-button color="primary" (click)="addLabel();" >Add label</button>        
            </div>
        </div>

        <div class="checklists">
            
            <div>
                <mat-form-field>
                    <input matInput placeholder="Check List" [(ngModel)]="checkList.name"/>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addCheckList();">Add checklist</button>
            </div>

            <div *ngIf="note.noteCheckLists">

                <div *ngFor="let checkList of note.noteCheckLists">
                    <div >{{checkList.name}}
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Check List item" [ngModel]="listItem.name" id="itemFromList"/>
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="addCheckListItem(checkList.id);">Add list item</button>
                        </div>

                        <div *ngFor="let checkListItem of checkList.checkListItem" class="listItems">

                            
                            <div class="checklist">
                                <mat-checkbox [ngModel] = "checkListItem.checked">{{checkListItem.name}}</mat-checkbox>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div *ngIf="note.comments">
            <mat-form-field>
                <textarea matInput placeholder="Comment..."></textarea>                
            </mat-form-field>
            <button mat-raised-button color="primary">Add comment</button>
            <div>
                Comments:
            </div>
            <div *ngFor="let comment of note.comments" class="comments">           
                {{comment.text}}
            </div>
        </div> 
    </div>
    
</div>