.note{
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    vertical-align: middle;
    width: 400px;
    background-color: lightslategray;
}

.descript{
    width: 300px;
    height: 90px;
    padding: 2px;
}

textarea matInput{
    width: 100%;
    height: 50px;
    padding: 10px;
    resize: none;
}

button{
    margin: 10px;
}

.labelName{
    width: auto;
    margin: 2px;
    border-radius: 4px;
}

.checkList{
    margin-left: 5px;
    text-decoration-line: underline;
}

.checklists{
    margin: 10px;
}

.listItems{
    padding-left: 15px;
}

.cont{
    margin-top: 15px;
}

button{
    color: primary;
}

.comments{
    max-height: 400px;
    overflow-y: auto;
}