@import url('https://fonts.googleapis.com/css?family=Noticia+Text');
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  left:250px;
  position: absolute;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

html{
  min-height: 100%;
  position:relative;
}

body{
  font-family: 'Noticia Text', serif;
  background-color: #9FBFD2;
  height:100%;
}

.addButton{
  cursor: pointer;
  background-color:none;
  border: none;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}