.boards{  
  width: 200px;
  padding: 10px;
}

.boardName {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 24px;
  width: 140px;
}

.menuButton{
  min-width: 1px;
  max-width: 10px;
  min-height: 20px;
  height: 24px;
  text-align: center;
}

.boardCont{
  border: 1px solid red;
  background-color: #ACADB0;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.boardAdd{
  padding: 10px;
}