  <div class="boards">
    <h1>{{title}}</h1>
    <div class="boardAdd">
        <mat-form-field>
            <input matInput #boardName maxlength="100" placeholder="Border name"/>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="add(boardName.value); boardName.value=''" >Add a board</button>  
     
    </div>

  <div>
    <div *ngFor="let board of boards" class="boardCont" >
      <div>
      <div fxLayout="row">
        <a routerLink="/noteLists/{{board.id}}">
          <div  class="boardName">{{board.name}}</div>
        </a>
        <button mat-button [matMenuTriggerFor]="menu" class="menuButton">```</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete(board)">Delete</button>
          <button mat-menu-item (click)="editActive(board.id)">Rename</button>
        </mat-menu>
      </div>

      <div  [ngStyle]="{'display': editId==board.id ? 'block': 'none' }">
        <mat-form-field>
          <input matInput maxlength="100" [(ngModel)] = "board.name"/>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="renameBoard(board.id); editActive(0)" >Save</button>  
      </div>
    </div>

    </div>
  </div>
    
  </div>

